# Temel Worker Bağımlılıkları
celery[redis]
pyyaml
python-semantic-release

# === AZURAFORGE EKLENTİLERİ ===
# Worker'ın bilmesi ve kurması gereken tüm uygulama eklentileri
# buraya eklenmelidir.
git+https://github.com/AzuraForge/app-stock-predictor.git@main
git+https://github.com/AzuraForge/app-weather-forecaster.git@main
git+https://github.com/AzuraForge/dbmodels.git@main